{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Jiyoungdo Capstone Design{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css">
</head>

<body>
    <h1>Main Page</h1>
    <br/>
    <small>메인 페이지 주소: carrie.pythonanywhere.com </small>
    <br/>
    <small>로그 정보 자동 추출 서비스 주소: carrie.pythonanywhere&#47;upload&#47; </small>

    {% block content %}
    {% endblock %}
</body>

</html>