{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Jiyoungdo Capstone Design{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css">
    <link rel="stylesheet" href="{% static 'css/textcolor.css' %}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <h1>What's this Service? 🤔</h1>
    <small>Hi!</small>
    <br/>
    <br/>

    <small>This is the service that analyzes the http json file and shows you the information you want visually.</small>
    <br/>
    <small>h2, h1에 관한 json 로그 정보 추출해주는 웹 서비스 입니다.</small>
    
    <br/>
    <br/>
    <small>➖</small>
    <br/>
    <small>서비스 설명 페이지 주소 : carrie.pythonanywhere.com</small>
    <br/>
    <small>json 파일 업로드 주소 : carrie.pythonanywhere.com&#47;files&#47;upload&#47;</small>
    <br/>
    <small>파일 분석 정보 보기 주소 : carrie.pythonanywhere.com&#47;files&#47;</small>

    <br/>
    <br/>
    <small>➖</small>
    <br/>
    <small>You can use it like the picture below.</small>
    <br/>
    <small>아래 사진 처럼 이용 하실 수 있습니다 :)</small>
    <br/>
    <small></small>



    
</body>

</html>