{% extends 'base.html' %} 

{% block content %} 
    <h2>🔎 View Analyzed Information</h2>
<p>
    <a href="http://carrie.pythonanywhere.com/files/upload/">[ Go to File Upload ]</a>
    <br/>
    <br/>

</p>

    <table class="table mb-0">
        <thead>
            <tr>
                <th>FileGroup</th>
                <th>FileNum</th>
                <th>ProtoCol</th>
                <th>HostName</th>
                <th>Json Download</th>
                <th>Delete</th>
                <th>group graph</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filegroup }}</td>
                <td>{{ file.filenum }}</td>
                <td>{{ file.protocoll }}</td>
                <td>{{ file.hostname }}</td>
                <td>
                    <a href="{{ file.json.url }}">Download json</a>
                </td>
                <td>
                    <form method="post" action="{% url 'delete_file' file.pk %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a href="{% url 'show_multi_chart' file.pk file.filegroup %}">Chart</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}