{% extends 'base.html' %} 

{% block content %} 
    <h2>🔎 View Analyzed Information</h2>

    <table class="table">
        <thead>
            <tr>
                <th>FileGroup</th>
                <th>FileNum</th>
                <th>Json Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filegroup }}</td>
                <td>{{ file.filenum }}</td>
                <td>{{ file.json}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}