{% extends 'base.html' %} 

{% block content %} 
    <h2>🔎 View Analyzed Information</h2>

<p>
    <a href="http://carrie.pythonanywhere.com/files/upload/">[ Go to File Upload ]</a>
</p>

    <table class="table mb-0">
        <thead>
            <tr>
                <th>FileGroup</th>
                <th>FileNum</th>
                <th>ProtoCol</th>
                <th>HostName</th>
                <th>Json Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filegroup }}</td>
                <td>{{ file.filenum }}</td>
                <td>{{ file.protocoll }}</td>
                <td>{{ file.hostname }}</td>
                <td>
                    <a href="{{ file.json.proto_col }}">Download json</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}